.container {
  width: 100%;
  max-width: 1440px;
  padding: 0 1rem;
  margin: 0 auto;
  margin-top: 20px;  
  text-align: center; 
}

.counterContainer {
  background-color: #272c34;
  padding: 2rem;
  border-radius: 10px;
  text-align: center;
  margin: 2rem 0;
}

.button {
  background-color: #84309c;
  color: #fff;
  padding: 1rem 2rem;
  border: none;
  border-radius: 5px;
  font-size: 1rem;
  cursor: pointer;
  transition: background-color 0.3s ease;
  margin: 1rem !important; 
}

.button:hover {
  background-color: #bfa3da;
}

.button:active {
  background-color: #c735b0;
}

.buttonContainer {
  display: flex;
  justify-content: center; /* Zentriert die Buttons horizontal */
  gap: 1rem; /* Abstand zwischen den Buttons */
  margin-bottom: 1rem;
}

.resetButton {
  background-color: rgb(89, 8, 8); /* oder jede andere gewünschte Farbe */
  border: none;
  padding: 1rem;
  border-radius: 4px;
  cursor: pointer;
}

.resetButton:hover {
  background-color: rgb(101, 46, 46); /* oder jede andere gewünschte Farbe */
}

.notOwnerMessage,
.connectWalletMessage {
  color: rgb(140, 199, 93); /* oder jede andere gewünschte Farbe */
  margin-bottom: 1rem;
}

.web3Button {
  background-color: #41bbe4; /* Hintergrundfarbe */
  border: none;
  color: white; /* Textfarbe */
  padding: 15px 32px; /* Innenabstand */
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
  border-radius: 4px; /* Abgerundete Ecken */
  transition: background-color 0.3s; /* Übergangseffekt */
}

.web3Button:hover {
  background-color: #91c2c2; /* Hintergrundfarbe beim Darüberfahren */
}

.connectWallet {
  margin-bottom: 20px;  /* Beispielabstand */
}
/* For a centered container that takes up the full viewport and centers its children */
.centeredContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh; /* viewport height */
  width: 100vw; /* viewport width */
  background-color: #64ad9b; /* light gray background, adjust as needed */
}

/* For a centered card that can be a child of the centered container */
.centeredCard {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* simple shadow for a lifted effect */
  background-color: #5f5252; /* white background, adjust as needed */
  max-width: 400px; /* adjust as needed */
  width: 100%;
}

/* If you want a bit of space between items inside the card */
.centeredCard > * + * {
  margin-top: 20px;
}
